body {
  font-family: var(--font-helvetica-neue), sans-serif;
  background: #ffffff;
  color: #69697b;
}

/*  */

.main_menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_menu nav {
  background: none;
}

.main_menu ul li {
  position: relative;
  padding: 0 15px;
  margin: 0;
}

.main_menu ul li a {
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
}

.main_menu ul li a:hover,
.main_menu ul li a.active {
  color: #1955ef;
}

/*  */

.main_menu ul li.get_started a:hover {
  color: #ffffff;
}

.main_menu ul ul {
  background: #fff;
  width: 280px;
  padding: 10px;
  display: none;
  position: absolute;
  left: 0;
  z-index: 1;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.main_menu ul li:hover ul {
  display: block;
}

.main_menu ul ul li a {
  color: #231000 !important;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
}

.main_menu ul ul li a:hover {
  color: #305eff !important;
}

/* add css for login start here */

.login_area {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_box {
  border: #ded7cf 1px solid;
  border-radius: 10px;
  padding: 40px 60px;
  max-width: 600px;
  width: 100%;
}

.login_box input[type="text"],
.login_box input[type="email"],
.login_box input[type="password"] {
  font-size: 14px;
  line-height: 16px;
  color: #231000;
  border: none;
  width: 100%;
}

.login_box input[type="text"]:focus,
.login_box input[type="email"]:focus,
.login_box input[type="password"]:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

/* add css for login ends here */

/*
 *  STYLE 3
 */

#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #a1a1a2;
}

/*  */

.healthcare_section {
  background: url(../../assets/imagesource/health_care_bg.png) no-repeat 0 0;
  background-size: cover;
  margin: 0 30px;
  border-radius: 30px;
}

.form_area label {
  color: #454545;
  font-size: 15px;
  line-height: 30px;
  padding-bottom: 0;
  font-weight: 600;
}
.form_area label span {
  color: #ff0000;
}
.form_area input[type="text"] {
  border: #d5d5d5 1px solid;
  background: #ffffff;
  height: 50px;
  border-radius: 5px;
  color: #7e7e7e;
  font-size: 14px;
  line-height: 50px;
}
.form_area select {
  border: #d5d5d5 1px solid;
  background-color: #ffffff;
  height: 50px;
  border-radius: 5px;
  color: #7e7e7e;
  font-size: 14px;
}
.form_area input[type="email"] {
  border: #d5d5d5 1px solid;
  background: #ffffff;
  height: 50px;
  border-radius: 5px;
  color: #7e7e7e;
  font-size: 14px;
  line-height: 50px;
}
.form_area textarea {
  border: #d5d5d5 1px solid;
  background: #ffffff;
  resize: none;
}
.form_area.submit_btn button {
  background: #00b049;
  border-radius: 100px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  line-height: 50px;
  height: auto;
  cursor: pointer;
}
.form_area button:hover {
  background: #151727;
}
.technology_section {
  background: url(../../assets/imagesource/techno_wrap.png) no-repeat center
    center;
  background-size: cover;
  margin: 0 30px;
  border-radius: 30px;
}

.home_slider button.slick-prev {
  left: 10px;
  bottom: 40px;
  top: inherit;
  z-index: 1;
}
.home_slider button.slick-next {
  left: 90px;
  bottom: 40px;
  top: inherit;
  z-index: 1;
}
.home_slider button.slick-prev:before {
  color: #939393;
  font-size: 60px;
  left: -60px;
}
.home_slider button.slick-next:before {
  color: #939393;
  font-size: 60px;
  right: -60px;
}

.product_offer_wrap {
  background: url(../../assets/imagesource/product_wrapper.png) no-repeat 0 0;
  background-size: cover;
  margin: 0 30px 80px;
  border-radius: 30px;
}
.product_offer_box button.slick-prev {
  z-index: 1;
  top: -55px;
  right: 110px;
  left: inherit;
}
.product_offer_box button.slick-next {
  z-index: 1;
  top: -55px;
  right: 43px;
}
.product_offer_box button.slick-prev:before {
  color: #ffffff;
  font-size: 60px;
  left: -60px;
}
.product_offer_box button.slick-next:before {
  color: #ffffff;
  font-size: 60px;
  right: -60px;
}

.HealthcareMobileApp_area .react-tabs__tab-list {
  border-bottom: none;
}
.HealthcareMobileApp_area .react-tabs__tab-list li {
  display: block;
}
.HealthcareMobileApp_area .react-tabs__tab-list li.react-tabs__tab {
  color: #787878;
  text-align: right;
  border-radius: 0;
  border: none;
  border-right: #d2d2d2 1px solid;
  padding: 10px 20px;
}
.HealthcareMobileApp_area
  .react-tabs__tab-list
  li.react-tabs__tab.react-tabs__tab--selected {
  color: #e90000;
  background: none;
  border-right: #e90000 1px solid;
  padding: 10px 20px;
}
.HealthcareMobileApp_area
  .react-tabs__tab-list
  li.react-tabs__tab.react-tabs__tab--selected:after {
  display: none;
}

.HealthcareMobileApp_area.HealthcareProfessionals_area
  .react-tabs__tab-list
  li.react-tabs__tab {
  color: #787878;
  text-align: left;
  border-radius: 0;
  border: none;
  border-left: #d2d2d2 1px solid;
  padding: 10px 20px;
}
.HealthcareMobileApp_area.HealthcareProfessionals_area
  .react-tabs__tab-list
  li.react-tabs__tab.react-tabs__tab--selected {
  color: #e90000;
  background: none;
  border-left: #e90000 1px solid;
  padding: 10px 20px;
}
.HealthcareMobileApp_area.HealthcareProfessionals_area
  .react-tabs__tab-list
  li.react-tabs__tab.react-tabs__tab--selected:after {
  display: none;
}

.key_features_wrap {
  background: url(../../assets/imagesource/key_features_wrap.png) no-repeat 0 0;
  background-size: cover;
  margin: 0 30px 0;
  border-radius: 30px;
}

.Jewelsoft_wrap {
  background: url(../../assets/imagesource/key_features_wrap.png) no-repeat 0 0;
  background-size: cover;
  margin: 30px 30px 0;
  border-radius: 30px;
}

.KeyFeaturesBox {
  position: relative;
}
.KeyFeaturesBox:before {
  position: absolute;
  right: 0;
  top: 40px;
  background: url(../../assets/imagesource/box_bg.png) no-repeat 0 0;
  width: 48px;
  height: 88px;
  content: "";
}

.KeyFeaturesTab_area .react-tabs__tab-list {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 20px;
}
.KeyFeaturesTab_area .react-tabs__tab-list li.react-tabs__tab {
  background: #ffffff;
  border-radius: 100px;
  color: #464646;
  font-size: 18px;
  line-height: 50px;
  padding: 0 40px;
  box-shadow: 0px 3px 5px rgba(70, 70, 70, 0.3);
  font-weight: 500;
}
.KeyFeaturesTab_area
  .react-tabs__tab-list
  li.react-tabs__tab.react-tabs__tab--selected {
  background: #1955ef;
  color: #ffffff;
}
.KeyFeaturesTab_area
  .react-tabs__tab-list
  li.react-tabs__tab.react-tabs__tab--selected:after {
  display: none;
}

.offer_section_wrap {
  background: url(../../assets/imagesource/offer_slider_bg.png) no-repeat 0 0;
  background-size: cover;
}

.inventory_bottom_wrap {
  background: url(../../assets/imagesource/inventory_bg.png) no-repeat 0 0;
  background-size: cover;
}

.main_menu ul ul li {
  padding: 0;
}
.main_menu ul ul li a {
  padding: 0 10px;
  font-size: 15px;
}

.video_section iframe {
  width: 100%;
  height: 600px;
}

.feature_title_height {
  height: 124px;
}
.feature_content_height {
  height: 115px;
}

.offer_slider_wrap {
  position: relative;
}
.offer_slider_content {
  background: rgba(16, 42, 110, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 14px;
  height: 100%;
  display: none;
  width: 100%;
}
.offer_slider_wrap:hover .offer_slider_content {
  display: block;
}
.offer_slider_content_box h3 {
  font-size: 18px;
  left: 28px;
  color: #ffffff;
  font-weight: 600;
  padding-bottom: 10px;
  /* padding-top: 90%; */
}
.offer_slider_content_box p {
  font-size: 15px;
  left: 20px;
  color: #ffffff;
  font-weight: 400;
  padding-bottom: 0;
}
.offer_slider_content_box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px;
}

@media only screen and (max-width: 767px) {
  .main_menu ul ul {
    top: 40px;
  }
  .video_section iframe {
    width: 100%;
    height: 250px;
  }
  .main_menu ul ul li a {
    padding: 0 6px;
    font-size: 14px;
  }
  .main_menu ul ul li {
    padding: 0;
  }
  .main_menu nav div > div {
    border: none;
    padding: 0;
    margin: 0;
    background: none;

    position: absolute;
    right: 0;
    top: 0;
  }

  .main_menu {
    position: absolute;
    right: 6px;
    top: 24px;
  }

  .main_menu ul {
    position: absolute;
    margin: 0;
    right: -10px !important;
    top: -25px;
    width: 250px;
    z-index: 100;
    background: #ffffff;
    text-align: center;
    padding: 15px 0 0 15px;
    border-radius: 0;
    box-shadow: -1px 2px 12px 4px rgba(209, 209, 209, 0.59);
    -webkit-box-shadow: -1px 2px 12px 4px rgba(209, 209, 209, 0.59);
    -moz-box-shadow: -1px 2px 12px 4px rgba(209, 209, 209, 0.59);
    /* border: #5e17eb 1px solid; */
    text-align: left;
    height: 100vh;
  }

  .main_menu ul li a {
    font-size: 16px;
    line-height: 26px;
    padding: 5px 0;
    display: block;
  }

  .home_slider button.slick-next:before {
    color: #939393;
    font-size: 40px;
    right: -60px;
  }
  .home_slider button.slick-prev:before {
    color: #939393;
    font-size: 40px;
    left: -60px;
  }
  .home_slider button.slick-prev {
    bottom: 20px;
    left: 10px;
    top: inherit;
    z-index: 1;
  }
  .home_slider button.slick-next {
    bottom: 20px;
    left: 55px;
    top: inherit;
    z-index: 1;
  }

  .healthcare_section {
    background: url(../../assets/imagesource/health_care_bg.png) no-repeat 0 0;
    background-size: cover;
    margin: 0 10px;
    border-radius: 30px;
  }

  .HealthcareMobileApp_area
    .react-tabs__tab-list
    li.react-tabs__tab.react-tabs__tab--selected {
    padding: 10px 7px;
  }
  .HealthcareMobileApp_area .react-tabs__tab-list li.react-tabs__tab {
    padding: 10px 7px;
    font-size: 13px;
  }

  .key_features_wrap {
    margin: 40px 15px;
    padding: 25px 15px;
  }
  .KeyFeaturesTab_area .react-tabs__tab-list {
    display: block;
    text-align: center;
  }
  .KeyFeaturesTab_area .react-tabs__tab-list li.react-tabs__tab {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .Jewelsoft_wrap {
    margin: 30px 15px 30px;
    padding: 20px 15px;
  }
  .technology_section {
    background: none;
  }
  .product_offer_wrap {
    margin: 0 15px 35px;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  /* .main_menu ul {
    left: -10% !important;
    width: 90%;
  } */
}

@media screen and (min-width: 412px) and (max-width: 767px) {
  .main_menu ul {
    left: -26% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
  .technology_section_text_area {
    width: 80%;
    padding-left: 250px;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1999px) {
}
